<div class="container">
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 50vh"
  >
    <div class="text-center">
      <i class="fa-solid fa-ban" style="font-size: 100px"></i>
      <h5 class="mb-3">
        Ups... Seems that the page you are looking for isn't avaiable
      </h5>
      <p>Press this button to go back at the home page</p>
      <button class="btn btn-primary shadow-0" [routerLink]="['/home']">
        Home
      </button>
    </div>
  </div>
</div>
